@import './common';
@import './example';






.gallery-weekly__list-elem {
    position: relative;
}

// .gallery-weekly__link{

// //    display: flex;
// //    flex-direction: column;
// // position: relative;
// // margin: auto;
// //    align-items: center;
// // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.9) 92.16%);
// //     border-radius: 5px;
// }

.gallery-weekly__image {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.9) 92.16%);
    border-radius: 5px;
}

.galerry-weekly {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    position: absolute;
    bottom: auto;
    left: auto;
}

// .cards__list {
//     display: grid;
//     max-width: calc(320px - 40px);
//     grid-template-columns: repeat(1, minmax(280px, 1fr));
//     // grid-column-gap: 16px;
//     grid-row-gap: 20px;
//     padding-top: 20px;
//     padding-bottom: 20px;
//     margin-left: auto;
//     margin-right: auto;
//     list-style: none;
//     justify-content: center;

//     @include mq(tablet-only) {
//         max-width: calc(768px - 64px);
//         grid-template-columns: repeat(3, minmax(224px, 1fr));
//         grid-column-gap: 32px;
//         grid-row-gap: 32px;
//         padding-top: 30px;
//         padding-bottom: 30px;
//     }

//     @include mq(desktop) {
//         max-width: calc(1280px - 64px);
//         grid-template-columns: repeat(3, minmax(395px, 1fr));
//         grid-column-gap: 16px;
//         grid-row-gap: 32px;
//         padding-top: 40px;
//         padding-bottom: 40px;
//     }
// }